# git ignore all untracked unless explicitly tracked
/**

# git tracking whitelist
!.gitignore
!.gitconfig

!.config/
!.config/nvim/
!.config/nvim/init.vim

# blacklist compiled lua by packer.nvim
.config/nvim/plugin/packer_compiled.lua
